<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" asp-href-include="/lib/bootstrap/dist/**/*.min.css" asp-href-exclude="**/*-reboot*,**/*-grid*" />
    <link rel="stylesheet" asp-href-include="/lib/fontawesome/css/*.css" />
    <link rel="stylesheet" asp-href-include="/css/sheet2.css"/>
    <title>Outdoor Store</title>
</head>
<body>
    <div class="navbar navbar-inverse bg-inverse" role="navigation">
        <div class="row">
            <a class="col navbar-brand" href="#">Outdoor Store</a>
            <div class="col-4 text-right">
                @await Component.InvokeAsync("CartSummary")
            </div>
        </div>
    </div> 
    <div class="row m-1 p-1">
        <div id="categories" class="col-3">
            @await Component.InvokeAsync("NavigationMenu")
        </div>
        <div class="col-9">
         @RenderBody()
        </div>
    </div>
</body>
</html>
<footer class="border-top card-footer text-muted text-center">
    <div class="container">
        Copyright 2021&copy;<br />
        @Html.ActionLink("About Us", "About", "AboutUs", null, new { @class = "page-scroll" })
    </div>
</footer>