<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" asp-href-include="/lib/bootstrap/dist/**/*.min.css" asp-href-exclude="**/*-reboot*,**/*-grid*" />
    <title>Outdoor Store</title>
</head>
<body>
    <div class="navbar navbar-inverse bg-inverse" role="navigation">
        <a class="navbar-brand" href="#">Outdoor Store</a>
    </div> 
    <div class="row m-1 p-1">
        <div id="categories" class="col-3"> Get Outdoors During This Pandemic </div>
        <div class="col-9">
         @RenderBody()
        </div>
    </div>
</body>
</html>
